{{ ansible_managed | comment }}
# Please review "man 5 cockpit.conf"

[WebService]
# Origins = https://somedomain1.com
# ProtocolHeader = X-Forwarded-Proto
# LoginTitle = Hodgins Server
LoginTo = false
# RequireHost = false
# MaxStartups =
AllowUnencrypted = false
# UrlRoot =
# ClientCertAuthentication =

[Log]
# Fatal = warnings, criticals

[OAuth]
# URL =
# ErrorParam =
# TokenParam =

[Session]
# Banner =
# IdleTimeout =
